* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia Mono, sans-serif;
}

.bg-blue {
    background-image: linear-gradient(rgb(21,18,132), rgb(21,18,132));
    color: #f9f9fc;
}


/* navbar */
nav .container {
    padding: 20px 40px;
}

.nav-item a {
    color: #f9f9fc;
}


.nav-btn button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    padding: 8px;
    transition: 0.5s ease-out;
}

.navbar-toggler {
    border: 2px solid #f9f9fc;
    outline: none;
    border-radius: 6px;
    padding: 12px;
    transition: 0.5s ease-out;
}

.navbar-toggler:hover {
    padding: 12px;
    outline: none;
    background: transparent;
}

.nav-icon {
    border-radius: #f9f9fc;
    width: 24px;
}



/* hero */
.main-heading {
    font-size: 3.5rem;
}

.sub-heading {
    font-family: Cascadia Code, sans-serif;
    font-weight: lighter;
    font-size: 1.15rem;
}

.deco-text {
    font-family: Brush Script MT;
    color: #060627;
}

.btn-hero button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    transition: 0.5s ease-out;
}

.btn-hero button:hover, .nav-btn button:hover {
    border: 2px solid #f9f9fc;
    padding: 12px;
    background: transparent;
}

/* cards section */
.cards-section .container {
    padding: 20px 40px;
}


.cards-nav a {
    color: inherit;
    text-decoration: none;
}

.card {
    position: relative;
    background: transparent;
    color: #f9f9fc;
    border-radius: 12px;
    border: 2px solid #f9f9fc;
}

.card :hover {
    outline: none;
    background: #060627;
    border-radius: 12px;
    border-collapse: collapse;
}

.card .div-bottom {
    position: absolute;
    bottom: 4%;
}


.card-sub h6, .card-text {
    font-family: Cascadia Code;
    font-weight: lighter;
    font-size: 0.8125em;
    transition: 0.5s ease-in;
}

.card-sub h6 {
    font-size: 0.675em;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.cards-carousel {
    display: none;
}

/* media queries */

@media screen and (max-width: 600px) {
    .main-heading {
        font-size: 2rem;
    }
    
    .cards-lists {
        display: none;
    }

    .cards-carousel {
        display: initial;
    }

    
}