@font-face {
    font-family: "Cascadia Mono";
    src: url("/css/fonts/cascadia-mono/CascadiaMono.ttf") format("ttf");
}

@font-face {
    font-family: "Cascadia Code";
    src: url("/css/fonts/cascadia-code/Cascadia.ttf") format("ttf");
}

@font-face {
    font-family: "Brush Script MT";
    src: url("/css/fonts/Brush-Script-MT/BRUSHSCI.TTF") format("ttf"),
         url("/css/fonts/Brush-Script-MT/BrushScriptStd.otf") format("otf");
}

@font-face {
    font-family: "Ersa ITC";
    src: url("/css/fonts/Ersa-Font/eras-bold-5871820c913a2.otf") format("otf"),
         url("/css/fonts/Ersa-Font/eras-bold-5871825645ec8.otf") format("otf"),
         url("/css/fonts/Ersa-Font/eras-book-587181c4d21d4.otf") format("otf"),
         url("/css/fonts/Ersa-Font/eras-demi-587182767b329.otf") format("0tf"),
         url("/css/fonts/Ersa-Font/eras-light-5871822a2e706.otf") format("otf");
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia Mono, monospace;
}

.bg-blue {
    background-image: linear-gradient(rgb(21,18,132), rgb(21,18,132));
    color: #f9f9fc;
}

/* navbar */
.navbar {
    transition: all 0.3s ease-in-out;
}

nav .container {
    padding: 20px 40px;
}

.nav-item a {
    color: #f9f9fc;
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #060627;

}

.nav-btn button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    padding: 8px;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    border: 2px solid #f9f9fc;
    outline: none;
    border-radius: 6px;
    padding: 12px;
    transition: all 0.3s ease-out;
}

.navbar-toggler:hover {
    padding: 12px;
    outline: none;
    background: transparent;
}

.nav-icon {
    border-radius: #f9f9fc;
    width: 24px;
}



/* hero */
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 0.125rem;
    height: 3.5rem;
    background-color: #f9f9fc;
    margin-left: 0.5rem;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }


.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

.main-heading {
    position: relative;
    font-size: 3.5rem;
    
}



.sub-heading {
    font-family: Brush Script MT, script;
    font-size: 2rem;
    color: #f9f9fc;
}



.btn-hero button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    transition: all 0.3s ease-out;
}

.btn-hero button:hover, .nav-btn button:hover {
    border: 2px solid #f9f9fc;
    padding: 12px;
    background: transparent;
}

/* cards section */
.cards-section .container {
    padding: 20px 40px;
}


.cards-nav a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.cards-nav a:hover {
    padding-bottom: 0.3%;
    border-bottom: 2px solid #f9f9fc;
    border-radius: 2px;
}

.card {
    position: relative;
    background: transparent;
    color: #f9f9fc;
    border-radius: 12px;
    border: 2px solid #f9f9fc;
    transition: all 0.3s ease-out;
}

.card:hover {
    border: 0px;
    background: #060627;
    border-radius: 12px;
    border-collapse: collapse;
}

.card .div-bottom {
    position: absolute;
    bottom: 4%;
}


.card-sub h6, .card-text {
    font-family: Cascadia Code, monospace;
    font-weight: lighter;
    font-size: 0.8125em;
    transition: 0.5s ease-in;
}

.card-sub h6 {
    font-size: 0.675em;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.cards-carousel {
    display: none;
}

/* modal */


.modal-content {
    background-color: #060627;
    border-radius: 25px;
}

.modal-body {
    position: relative;
}

.modal-body form {
    color: #f9f9fc;
}

.modal-body .form-control:focus {
    color: #060627;
    background-color: #f9f9fc;
    border-color: #151284;
}

label:has(+ .form-control:focus), label:has(+ textarea:focus) {
    color: #060627 !important;
}

.form-control {
    color: #f9f9fc;
}

.form-floating>label {
    padding: 0.4rem 0.75rem;
}

.modal-header .btn-close {
    position: absolute;
    right: 8%;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(21,18,132, 0.25)
}

.form-control {
    background: transparent;
    border-radius: 6px;
}

.modal-body form input:focus {
    color: #060627;
    background-color: #f9f9fc;
}

#message-text {
    height: 10rem;
}

.modal-footer {
    border: 0;
}

.modal-btn {
    background-color: transparent;
    color: #f9f9fc;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    
}

.modal-btn:hover {
    background-color: #f9f9fc;
    color: #060627;
    padding: 8px;
    outline: none;
    border: 0px;
}

/* maintanance site */
.barrier-icon {
  filter: brightness(0) invert(1);
  height: 12rem;
}


/* media queries */

@media screen and (max-width: 760px) {

    .main-heading {
        font-size: 2rem;
    }

    .input-cursor {
        height: 2rem;
    }
    
    .cards-lists {
        display: none;
    }

    .cards-carousel {
        display: initial;
        position: relative;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -24%;
    }

    /* .carousel-indicators [data-bs-target] {

        border-radius: 25px;
    } */

    .bg-alt {
        background-color: #060627;
    }

    .nav-item a:hover {
        color: #f9f9fc;
    }

    .nav-rm {
        display: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

@media screen and (max-width: 450px) {
    .main-heading {
        font-size: 1.65rem;
    }

    .input-cursor {
        height: 1.65rem;
    }
}