@font-face {
    font-family: 'Brush Script MT';
    src: url('./fonts/Brush-Script-MT/BRUSHSCI.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Brush-Script-MT/BRUSHSCI.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/Brush-Script-MT/BRUSHSCI.TTF')  format('truetype'); /* Safari, Android, iOS */
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a, .btn{
    position: relative;
    
}

canvas {
    display: block;
    vertical-align: bottom;
  } 
  
  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    
  } 
  

  
  

.bg-blue {
    background-image: linear-gradient(rgb(21,18,132), rgb(21,18,132));
    color: #f9f9fc;
}

/* navbar */
.navbar {
    transition: all 0.3s ease-in-out;
}

nav .container {
    padding: 20px 40px;
}

.nav-item a {
    color: #f9f9fc;
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #060627;

}

.nav-btn button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    padding: 8px;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    border: 2px solid #f9f9fc;
    outline: none;
    border-radius: 6px;
    padding: 12px;
    transition: all 0.3s ease-out;
}

.navbar-toggler:hover {
    padding: 12px;
    outline: none;
    background: transparent;
}

.nav-icon {
    border-radius: #f9f9fc;
    width: 24px;
}



/* hero */
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 0.125rem;
    height: 3.5rem;
    background-color: #f9f9fc;
    margin-left: 0.2rem;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }


.input-cursor { 
  animation: blink .6s linear infinite alternate;
}

.main-heading {
    position: relative;
    font-size: 3.5rem;
    
}


.sub-heading {
    font-family: 'Brush Script MT';
    font-size: 2rem;
    color: #f9f9fc;
}


.btn-hero button {
    background-color: #f9f9fc;
    color: #060627;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    transition: all 0.3s ease-out;
}

.btn-hero button:hover, .nav-btn button:hover {
    border: 2px solid #f9f9fc;
    padding: 12px;
    background: transparent;
}

/* cards section */
.cards-section .container {
    padding: 20px 40px;
}


.cards-nav a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.cards-nav a:hover {
    padding-bottom: 0.3%;
    border-bottom: 2px solid #f9f9fc;
    border-radius: 2px;
}

.card {
    position: relative;
    background: transparent;
    color: #f9f9fc;
    border-radius: 12px;
    border: 2px solid #f9f9fc;
    transition: all 0.3s ease-out;
}

.card:hover {
    border: 0px;
    background: #060627;
    border-radius: 12px;
    border-collapse: collapse;
}

.views-cards .card:hover {
    background: #151284;
}

.card .div-bottom {
    position: absolute;
    bottom: 2%;
}


.card-sub h6, .card-text {
    font-weight: light;
    font-size: 0.8125em;
    transition: 0.5s ease-in;
}

.card-sub h6 {
    font-size: 0.675em;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.cards-carousel {
    display: none;
}

/* modal */


.modal-content {
    background-color: #060627;
    border-radius: 25px;
}

.modal-body {
    position: relative;
}

.modal-body form {
    color: #f9f9fc;
}

.modal-body .form-control:focus {
    color: #060627;
    background-color: #f9f9fc;
    border-color: #151284;
}

label:has(+ .form-control:focus), label:has(+ textarea:focus) {
    color: #060627 !important;
}

.form-control {
    color: #f9f9fc;
}

.form-floating>label {
    padding: 0.4rem 0.75rem;
}

.modal-header .btn-close {
    filter: brightness(0) invert(1);
    position: absolute;
    right: 8%;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(21,18,132, 0.25)
}

.form-control {
    background: transparent;
    border-radius: 6px;
}

.modal-body form input:focus {
    color: #060627;
    background-color: #f9f9fc;
}

#form-message {
    transition: all 0.6s ease-in-out;
}

#message-text {
    height: 10rem;
}

.modal-footer {
    border: 0;
}

.modal-btn {
    background-color: transparent;
    color: #f9f9fc;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    border-color: #f9f9fc;
}

.modal-btn:hover {
    background-color: #f9f9fc;
    color: #060627;
    padding: 8px;
    outline: none;
    border: 0px;
}

/* maintanance site */
.barrier-icon {
  filter: brightness(0) invert(1);
  height: 12rem;
}

/* pagination */
.page-item a {
    background-color: #f9f9fc;
    color: #060627;
    border-color: #f9f9fc;
}

.page-item.active span{
    background-color: #151284;
    color: #f9f9fc;
    border-color: #151284;
}


@media (max-width: 900px), (min-height: 1024px) {
    .navbar .container {
        width: 100%;
    }
    .cards-lists {
        display: none;
    }

    .cards-carousel {
        display: block;
    }

    .cards-section {
        margin-top: 2rem;
    }

    .carousel-indicators {
        bottom: -30%;
    }


}

@media (max-width: 1114px), (max-height: 715px) {
    .card {
        height: 16rem;
    }
}

@media screen and (max-width: 760px) {

    .main-heading {
        font-size: 2rem;
    }
    
    .cards-lists {
        display: none;
    }

    .cards-section {
        margin-top: 1.5rem;
    }


    .cards-nav {
        margin: 1.5rem auto;
    }

    .card-title {
        font-size: 1rem;
    }

    .cards-carousel {
        display: initial;
        position: relative;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -24%;
    }

    /* .carousel-indicators [data-bs-target] {

        border-radius: 25px;
    } */

    .bg-alt {
        background-color: #060627;
    }

    .nav-item a:hover {
        color: #f9f9fc;
    }

    .nav-rm {
        display: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

   
    
}

@media screen and (max-width: 450px) {
    .main-heading {
        font-size: 1.65rem;
    }

    .input-cursor {
        height: 1.75rem;
    }
}

@media screen and (min-width: 400px), (min-height: 800px) {
    .hero {
        margin-top: 1.25rem;
    }
}
